<!DOCTYPE html>
<html>
<head>
  <title>Carezone Coding Exercise</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= bodytag_class %>" id="<%= bodytag_id %>">
  <%= render partial: 'shared/flash' %>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>

